<form action="/login" method="POST">
  <label for="username">Username or Email</label>
  <input type="text" name="username">
  <br>
  <label for="password">Password</label>
  <input type="password" name="password">
  <button type="submit">Login</button>
</form>